---
---
/* Styling for jumbotron */
.jumbotron {
    background-image: url("{{ site.url }}/img/stock_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 38%; 
}

.jumbotron .container {
    font-family: 'Oswald', sans-serif;
    color: #ffc40d;
}