---
---

/* Apply border-box to the whole webpage */
* {
    box-sizing: border-box;
}

/* Styling for content */
.content-title {
    font-family: "Oswald", sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}