---
---
/* Styling for tag list */

/* Price tag icon drawing */
.tag-list-item {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    color: black;
    line-height: 24px;
    height: 24px;
    background: #ffc40d;
    border-color: #ffc40d;
    transition: all 0.05s ease;
    padding-right: 8px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-left: 15px;
    margin-bottom: 3px;
}

.tag-list-item::before {
    content: "";
    float: left;
    width: 0;
    height: 0;
    position: relative;
    top: 0;
    left: -12px;
    border-width: 12px 12px 12px 0;
    border-style: solid;
    border-color: transparent #ffc40d transparent transparent;
    transition: all 0.05s ease;
}

.tag-list-item::after {
    content: "";
    float: left;
    width: 4px;
    height: 4px;
    background: white;
    border-radius: 2px;
    position: relative;
    top: 10px;
    left: -12px;
}

/* States styling */
.tag-list-item:visited, .tag-list-item:focus, .tag-list-item:visited:focus {
    text-decoration: none;
}

.tag-list-item:hover, .tag-list-item:active, .tag-list-item:visited:hover, .tag-list-item:visited:active {
    color: #ffc40d;
    background: black;
    border-color: black;
    text-decoration: none;
}

.tag-list-item:hover::before {
    border-color: transparent black transparent transparent;
}