/* Styling for Youtube Video iframe */

.youtube-video {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.youtube-video iframe, .youtube-video object, .youtube-video embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}