<div class="breadcrumb">
    {% assign categories = page.categories %}
    {% assign filename_without_extension = categories | last | split:"." | first %}
    {% if categories contains "_posts" or filename_without_extension == "index" %}
        {% comment %} posts are like /docs/python/_posts/2016-06-06-foobar.md {% endcomment %}
        {% comment %} OR pages are index.* i.e.: like /docs/python/index.md or index.html {% endcomment %}
        {% assign categories = categories | pop %}
    {% endif %}

    <a class="breadcrumb-home" href="{{ '/' | absolute_url }}">Home</a>
    {% for category in categories %}
        <span class="glyphicon glyphicon-menu-right"></span>
        {% assign route = "/categories/" | append: category %}
        <a class="breadcrumb-category" href="{{ route | absolute_url }}">{{ site.data.categories-data[category].title }}</a> 
    {% endfor %}
    <span class="glyphicon glyphicon-menu-right"></span>
    <a class="breadcrumb-post" href="#">{{ page.title }}</a>
</div>