<nav class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ site.url }}">Cowboy Coder</a>
        <button type="button" class="navbar-toggle x collapsed" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
        <div class="container-fluid">

            <ul class="nav navbar-nav">
                <li class="dropdown">{% include navbar-hover-dropdown.html category="algorithm" %}</li>
                <li class="dropdown">{% include navbar-hover-dropdown.html category="programming" %}</li>
                <li class="dropdown">{% include navbar-hover-dropdown.html category="exercises" %}</li>
                <li class="dropdown">{% include navbar-hover-dropdown.html category="misc" %}</li>
                <li><a href="/about">About us</a></li>
            </ul>
            
        </div>
    </div>
</nav>