<aside>
    <div class="aside-section">
        {% include search-box.html %}
    </div>

    <div class="aside-section">
        {% include label.html string="Follow us on Facebook!" %}

        <div class="fb-page" data-href="https://www.facebook.com/cowboycoding" data-small-header="false" data-adapt-container-width="true"
            data-hide-cover="false" data-show-facepile="true"></div>
    </div>

    <div class="aside-section">
        {% include label.html string="Bài viết gần đây" %}
        
        {% include recent.html %}
    </div>
</aside>