<!-- Bootstrap Dropdown Hover CSS -->
<link href="/css/animate.min.css" rel="stylesheet" type="text/css">
<link href="/css/bootstrap-dropdownhover.min.css" rel="stylesheet" type="text/css">

<!-- Stylesheet of the page -->
<link rel="stylesheet" href="{{ site.url }}/css/stylesheet.css" type="text/css" />
<link rel="stylesheet" href="{{ site.url }}/css/jumbotron.css" type="text/css" />
<link rel="stylesheet" href="{{ site.url }}/css/navbar.css" type="text/css" />
<link rel="stylesheet" href="{{ site.url }}/css/sidebar.css" type="text/css" />
<link rel="stylesheet" href="{{ site.url }}/css/tag_list.css" type="text/css" />
<link rel="stylesheet" href="{{ site.url }}/css/prev-next.css" type="text/css" />
<link rel="stylesheet" href="{{ site.url }}/css/social-icon-button.css" type="text/css" />
<link rel="stylesheet" href="{{ site.url }}/css/footer.css" type="text/css" />
<link href="/css/search.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="{{ site.url }}/css/navbar-hover-dropdown.css" type="text/css" />