<!-- Bootstrap Dropdown Hover CSS -->
<link href="/css/animate.min.css" rel="stylesheet" type="text/css">
<link href="/css/bootstrap-dropdownhover.min.css" rel="stylesheet" type="text/css">

<!-- Stylesheet of the page -->
<link rel="stylesheet" href="/css/stylesheet.css" type="text/css" />
<link rel="stylesheet" href="/css/jumbotron.css" type="text/css" />
<link rel="stylesheet" href="/css/navbar.css" type="text/css" />
<link rel="stylesheet" href="/css/sidebar.css" type="text/css" />
<link rel="stylesheet" href="/css/tag_list.css" type="text/css" />
<link rel="stylesheet" href="/css/prev-next.css" type="text/css" />
<link rel="stylesheet" href="/css/social-icon-button.css" type="text/css" />
<link rel="stylesheet" href="/css/footer.css" type="text/css" />
<link rel="stylesheet" href="/css/search.css" type="text/css"/>
<link rel="stylesheet" href="/css/navbar-hover-dropdown.css" type="text/css" />
<link rel="stylesheet" href="/css/label.css" type="text/css" />
<link rel="stylesheet" href="/css/post-preview.css" type="text/css" />