/* Styling for navbar-hover-dropdown */
.dropdown.open .navbar-button {
    background: #ffc40d !important;
    color: black !important;
}

.dropdown-menu {
    background: black;
}

.dropdown-content-item {
    font-family: "Open Sans", sans-serif;
    color: #ffc40d !important;
}

.dropdown-content-item:hover {
    color: black !important;
    background: #ffc40d !important;
}

@media (max-width: 767px) {
    .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        display: block !important;
    }

    .dropdown-content-item {
        line-height: 20px !important;
        padding: 5px 15px 5px 25px !important;
    }
}