/* Styling for share box */
.share-box {
    width: 100% !important;
    margin: 20px 0;
}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
    width: 100% !important;
    min-width: 200px;
}