/* Styling for sidebar */
.aside-section {
    margin-bottom: 30px;
}

.list-group-item {
    font-family: "Open Sans", sans-serif;
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail img {
    width: 100%;
}