---
permalink: /search
layout: search
---
{% include search-box.html %}

<ul id="search-results"></ul>

<script>
  window.store = {
    {% for post in site.posts %}
      "{{ post.url | slugify }}": {
        "title": "{{ post.title | xml_escape }}",
        "author": "{{ post.author }}",
        "category": {{ post.categories | jsonify }},
        "tag": {{ post.tags | jsonify }},
        "content": {{ post.content | strip_html | strip_newlines | jsonify }},
        "url": "{{ post.url | xml_escape }}"
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  };
</script>

<!-- Include lunr.js -->
<script src="https://unpkg.com/lunr/lunr.js"></script>
<script src="/js/search.js"></script>