<!doctype html>
<html>

<head>
    <title>Cowboy Coder</title>
    <!-- Mobile first -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
    <!-- Stylesheet of the page -->
    <link rel="stylesheet" href="{{ site.url }}/css/stylesheet.css" type="text/css" />
</head>

<body>

    <!-- Facebook SDK -->
    {% include facebook-sdk.html %}

    <!-- Navbar -->
    {% include navbar.html %}
    <!-- Navbar -->

    <!-- Jumbotron -->
    <div class="jumbotron">
        <div class="container">
            <h1>Cowboy Coder</h1>
            <h2>To code like a Cowboy!</h2>
        </div>
    </div>
    <!-- Jumbotron -->



    <div class="container">

        <!-- Content -->
        <div class="row">
            <div class="col-md-8">
                {{ content }}
            </div>

            <div class="col-md-4">
                {% include page-sdk.html %}
            </div>
        </div>
    </div>
    </div>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Include JS -->
    <!-- script src="{{ site.url }}/js/home.js" type="text/javascript"/ -->
</body>

</html>